@use '../mixins/responsive';
@use "../vars";

.support {

}


.support__success-message {
  margin-right: 30px;
  display: none;
  @include responsive.media-breakpoint-down(680) {
    margin-right: 0;
  }
  p:nth-child(1) {
    font-size: 32px;
    margin-bottom: 24px;
  }
  p:nth-child(2) {
    font-size: 17px;
    color: vars.$gray;
  }
}
