//@use "~scss-reset/_reset.scss";
@use "fonts";
@use "vars";

// common components
@use "components/container";
@use "components/auth";
@use "components/popup";
@use "components/button";
@use "components/header";
@use "components/deals";
@use "components/menu";
@use "components/dropdown";
@use "components/static";
@use "components/sendNotification";
@use "components/clients";
@use "components/clientSearchTel";
@use "components/clientsIn";
@use "components/pagination";
@use "components/notification";
@use "components/profile";
@use "components/support";
@use "components/superagent";


@import "~swiper/swiper-bundle.min.css";
@import '~nouislider/dist/nouislider.css';
@import 'accordion-js/dist/accordion.min.css';

body {
  font-family: Cera-Compact-Pro, sans-serif;
  background-color: white;
  &.lock {
    position: fixed;
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
    &-popup {
      position: relative;
      overflow: hidden;
      max-height: 100vh;
      min-height: 100vh;
    }
  }
  &.fixed {
    position: fixed;
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
  }
  &.overflow {
    position: static;
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
  }

  &.overflow2 {
    position: relative;
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
    &:before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      content: "";
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: vars.$black;
  font-family: Cera-Compact-Pro, sans-serif;
}

button {
  background: transparent;
  border: none;
}

a, button {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 3px;
  border-radius: 8px;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #CECECE;
  border-radius: 100px;
  border: none;
  transition: .3s;
  &:hover {
    background-color: vars.$gray;
    cursor: pointer;
  }
}
