$font-title: "Cera-Compact-Pro", sans-serif;

$black: #08090A;
$white: #ffffff;

$gray: #777878;
$lightgray: #E6E6E7;

$orange: #E05931;
$lightorange: rgba(224, 89, 49, 0.20);

$red: #FC3A3A;
$lightred: rgba(252, 58, 58, 0.20);

$green: #039A00;
$lightgreen: rgba(3, 154, 0, 0.20);

$blue: #3143E0;
$lightblue: rgba(49, 67, 224, 0.20);


