extends layouts/Main

block title
  title Регистрация
block content
  .wrapper.auth
    .container
      .auth__wrapper
        a(href="http://strizhii.beget.tech/front/index.html" target="_blank" style="margin-bottom: 5px") Главная
        a(href="http://strizhii.beget.tech/front/projects.html" target="_blank" style="margin-bottom: 5px") Каталог проектов
        a(href="http://strizhii.beget.tech/front/project.html" target="_blank" style="margin-bottom: 5px") Каталог проект
        a(href="http://strizhii.beget.tech/front/jobs.html" target="_blank" style="margin-bottom: 5px") Вакансии
        a(href="http://strizhii.beget.tech/front/jobs-page.html" target="_blank" style="margin-bottom: 5px") Страница вакансии
        a(href="http://strizhii.beget.tech/front/room.html" target="_blank" style="margin-bottom: 5px") Карточка квартиры
        a(href="http://strizhii.beget.tech/front/contacts.html" target="_blank" style="margin-bottom: 5px") Контакты
        a(href="http://strizhii.beget.tech/front/about.html" target="_blank" style="margin-bottom: 5px") О нас
        a(href="http://strizhii.beget.tech/front/projects-2-list.html" target="_blank" style="margin-bottom: 5px") Квартиры (список)
        a(href="http://strizhii.beget.tech/front/projects-2-tile.html" target="_blank" style="margin-bottom: 5px") Квартиры (плитка)
        a(href="http://strizhii.beget.tech/front/privacy.html" target="_blank" style="margin-bottom: 5px") Политика конфиденциальности
  //      button.auth__link.js-popup-link(data-popup="signUp") Регистрация
  //
  //.popup(id="signUp")
  //  .popup__body
  //    .popup__content.auth__inner
  //      .auth__header
  //        .container
  //          .auth__header-wrapper
  //            span Регистрация
  //            button.popup__close.auth__popup-close(title="Закрыть")
  //      .container
  //        .auth__content
  //          .auth__content-inner
  //            .auth__title Регистрация
  //            .auth__label-list
  //              .auth__label-item.auth__label-item-1.active 1. Тип пользователя
  //              .auth__label-item.auth__label-item-2 2. Ввод данных
  //            form.auth__form-wrapper
  //              .auth__form.auth__form-step1
  //                p Уважаемый Пользователь!
  //                p Обращаем ваше внимание, что регистрация доступна для разных типов пользователей — для частных покупателей и для представителей агентств
  //                .auth__form-label-wrapper
  //                  label.auth__form-label.auth__form-label--buyer(for="forBuyers")
  //                    input(type="radio" name="auth" id="forBuyers")
  //                    .auth__form-label-text
  //                      span Продолжить как покупатель
  //                  label.auth__form-label.auth__form-label--agent(for="forAgents")
  //                    input(type="radio" name="auth" id="forAgents")
  //                    .auth__form-label-text
  //                      span Продолжить как агент
  //                      span Необходимо пройти дополнительный этап верификации и предоставить данные об агентстве
  //                button.btn__orange.disabled.js-btn-step2 Продолжить
  //
  //
  //              .auth__form.auth__form-step2
  //                .auth__form-inputs-wrapper
  //                  .auth__form-input-row
  //                    label
  //                      input(type="text" name="name" placeholder='Имя (обязательно)')
  //                  .auth__form-input-row
  //                    label
  //                      input(type="text" name="surname" placeholder='Фамилия (обязательно)')
  //                  .auth__form-input-row
  //                    label
  //                      input(type="text" name="thirdName" placeholder='Отчество (обязательно)')
  //                  .auth__form-input-row.auth__form-input-row--double
  //                    label
  //                      input(type="email" name="email" placeholder='Email (обязательно)')
  //                    label
  //                      input(type="tel" name="phone" placeholder='Номер телефона (обязательно)')
  //                  .auth__form-input-row.auth__form-input-row--pre-captcha
  //                    label
  //                      input(type="text" name="agency" placeholder='Агентство недвижимости (обязательно)')
  //                  .auth__form-input-row.auth__form-input-row--double
  //                    img(src=require("../icons/captcha.jpg") alt="captcha")
  //                    label
  //                      input(type="text" placeholder='Введите слово на картинке')
  //                .auth__form-final-buttons
  //                  button.btn__white.js-btn-step1 Назад
  //                  button.btn__orange.disabled.btn__send Зарегистрироваться








