mixin pagination(className)
  span.pagination(class=className)
    a.pagination__item.active 1
    a.pagination__item 2
    a.pagination__item 3
    .pagination__separator ...
    a.pagination__item 8
    a.pagination__item 9
    a.pagination__item 10
